@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --red: #d01c28;
    --grey: #2e2e2e;
}

*{
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

button{
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

.container{
    max-width: 1280px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

.Logo img{
    width: 100px;
}

.shoes{
    display: flex;
    align-items: center;
    gap: 200px;
    height: calc(100vh-72px);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shoes h1{
    font-weight: 800px;
    font-size: 108px;
    line-height: 115px;
}
.shoes p{
    font-weight: 600px;
    color: var(--grey);
    max-width: 400px;
}


.icons img{
    width: 40px;
}

.image img{
    width: 500px;
}

.button{
    display:flex;
    gap: 20px;
}

.twobutton{
    background: transparent;
    color: var(--grey);
}
.button button{
    font-size: 16px;
}
.shop p{
    font-size: 14px;
    margin-top: 8px;
}
.icons{
    display: flex;
    gap: 16px;
}